<footer class="footer">
    <div class="container-default">
        <div class="footer-wrapper footer-top flex justify-between">
            <div class="footer-contact flex-column">
                <div class="footer-contact__logo">
                    <a href="/" class="">
                        <img src="image/catalog/MyPolaroid-footer.svg" alt="">                                
                    </a>
                </div>
                <div class="footer-contact__item">
                    <div class="flex-column">
                        <span class="">Телефони</span>
                        <a href="tel:+380672352578" class="">+38 (067) 235-25-78</a>
                        <a href="tel:+380505293611" class="">+38 (050) 529-36-11</a>
                    </div>
                </div>
                <div class="footer-contact__item flex-column">
                    <span class="">Email</span>
                    <a href="mailto:mypolaroid@gmail.com" class="">mypolaroid@gmail.com</a>
                </div>
                <div class="footer-contact__item">
                    <span class="">Соціальні мережі</span>
                </div>
                <div class="footer-contact__item flex g10">
                    <div>
                        <a href="">
                            <img src="image/catalog/facebook.svg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="image/catalog/instagram.svg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="image/catalog/youtube.svg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="image/catalog/tiktok.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="f-column">
                <div class="footer-title">Допомога та інформація</div>
                <ul class="footer-list">
                    <li class="">
                        <a href="">Умови повернення</a>
                    </li>
                    <li class="">
                        <a href="">Гарантії</a>
                    </li>
                    <li class="">
                        <a href="">Рекламація</a>
                    </li>
                </ul>
            </div>
            <div class="f-column">
                <div class="footer-title">Доставка</div>
                    <ul class="footer-list">
                        <li class="">
                            <a href="">У відділення Нова Пошта</a>
                        </li>
                        <li class="">
                            <a href="">Кур’єром Нова Пошта</a>
                        </li>
                        <li class="">
                            <a href="">У відділення Укрпошта</a>
                        </li>
                        <div class="flex footer-icon">
                            <div>
                                <img src="image/catalog/new post.svg" alt="">
                            </div>
                            <div>
                                <img src="image/catalog/ukrpost.svg" alt="">
                            </div>
                        </div>
                    </ul>
                </div>
            <div class="f-column">
                <div class="footer-title">Оплата</div>
                <ul class="footer-list">
                    <li class="">
                        <a href="">Банківською карткою</a>
                    </li>
                    <li class="">
                        <a href="">Післяплата</a>
                    </li>
                    <div class="flex footer-icon">
                        <div>
                            <img src="image/catalog/mastercard.svg" alt="">
                        </div>
                        <div>
                            <img src="image/catalog/visa.svg" alt="">
                        </div>
                        <div>
                            <img src="image/catalog/aplepay.svg" alt="">
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="footer-bootom">
            <div class="">
               MyPolaroid ©{{ "now"|date("Y") }} Всі права захищені
            </div>
        </div>
    </div>
</footer>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<script src="catalog/view/javascript/script.js" type="text/javascript"></script>

</body></html>